<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/navbar.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/main.css') }}"/>
    <script type="text/javascript" src="{{ asset('js/navbar.js') }}" defer></script>
    {{ encore_entry_script_tags('AdminUsers') }}
    <title>Document</title>
</head>
<body>
{% include 'admin_navbar.html.twig' %}
<div class="welcome">
    <p>Admin Panel</p>
</div>
<div class="users">

</div>



</body>
</html>