<div class="navbar">
    <div class="logo">
        <a href="{{ path('app_main') }}"> <img src="{{ asset('images/logo.png') }}" alt="logo" /></a>
    </div>
    <div class="menu-toggle" onclick="toggleMenu()">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
    <ul>
        <li><a href="/admin_users">Użytkownicy</a></li>
        <a href="/logout"><img class="logout" src="{{ asset('images/logout.png') }}" alt="wyloguj" style="width:1em; margin-top: 0.5em"></a>
    </ul>
</div>